.header {
    --input-on-color: white;
    --input-on-accent-color: var(--header-toprow-background);
    --input-outline-color: white;
    --input-text-color: white;
}

.header strong {
    white-space: nowrap;
}

.user,
.summary {
    display: flex;
    align-items: center;
}

.summary span {
    margin-right: 6px;
}

.user strong {
    margin-right: 5px;
    font-weight: 600;
}

.button:not([disabled]) {
    color: rgb(var(--header-color));
}
